body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

img {
  min-width: 150px;
  min-height: 150px;
  max-width: 150px;
  max-height: 150px;
}

.listingInfo {
  color: blue;
  font-size: smaller;
}

.navBar {
  display: flex;
  justify-content: space-evenly;
  background-color: lightgray;
}

.storeTitle {
  text-align: center;
}

.navText {
  color: black;
}

.guitarFilter {
  display: flex;
  margin: auto;
}


.productContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.productItem {
  width: 32%;
  padding-bottom: 5%; /* 32:18, i.e. 16:9 */
  margin-bottom: 2%; /* (100-32*3)/2 */

.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.content {
  padding: 0 18px;
  overflow: hidden;
  background-color: #f1f1f1;

}
