body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

img {
  min-width: 150px;
  min-height: 150px;
  max-width: 150px;
  max-height: 150px;
}

.listingInfo {
  color: black;
  font-size: 20px;
}

.navBar {
  display: flex;
  justify-content: space-evenly;
  background-color: lightgray;
  margin-bottom: 0px;
}

.storeTitle {
  text-align: center;
}

.navText {
  color: black;
}

.navLogged {
  margin-bottom: 0px;
}

.guitarFilter {
  display: flex;
  margin: auto;
}

.productContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  left: 160px;
  margin-left: 200px;

  margin-top: 20px;
  /* width: 100%; */
}

.productItem {
  width: 25%;
  padding-bottom: 5%; /* 32:18, i.e. 16:9 */
  margin-bottom: 2%; /* (100-32*3)/2 */
}

.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  left: 180 px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.content {
  padding: 0 18px;
  overflow: hidden;
  background-color: #f1f1f1;
  text-align: center;
}
.contentUser {
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
}

.contentOrder {
  padding: 0 18px;
  overflow: hidden;
  background-color: #f1f1f1;
  text-align: center;
}

.relativeCheck {
  text-indent: 200px;
}
.navContainer {
  z-index: 2;
  margin-bottom: 0px;
}
span {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
}
ul {
  list-style-type: none;
}

/*.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height
  width: 160px; /* Set the width of the sidebar
  position: fixed; /* Fixed Sidebar (stay in place on scroll)
  /* Stay on top
  top: 140px;
  z-index: 1;
  left: 0;
  border: black;
  background-color: rgb(114, 105, 105); /* Black */
/* } */
/* .sideSearch {
  width: 120px;
} */
.price {
  color: red;
}
